 
* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

}

.map {
  height: 300px;
}
 
@media screen and (min-width: 1024px){
    .map {
        height: 500px;
    }
}


form {
  width: 300px;
  display: flex;
  flex-direction: column;
  box-shadow: 0.25em 0.25em 0.5em #3d3d3d,
              -0.05em -0.05em 0.15em #d3d3d3;
  margin: 3em 0;
  text-align: center;
  border-radius: 10px;
  
}

form#auth-form, #create-form {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  border:solid 4px;
  border-color:#304c29;
  
}

form div {
  display: flex;
  justify-content: space-around;
  text-align: center;
  background: rgb(231, 231, 231);
  margin: 0 0 0.5em;
}

form div span {
  width: 100%;
  padding: 0.5em;
  cursor: pointer;
}

form div span.active {
  background: #a4be80;
  cursor: initial;
}

form label {
  width: 200px;
  display: flex;
  flex-direction: column;
  margin: 0.5em;
  align-self: center;
  
}

form input {
  margin: 0.25em 0;
  height:50px;
  border:solid 2px;
  border-color:#304c29;
  box-shadow: 0.25em 0.25em 0.5em #3d3d3d,
  -0.05em -0.05em 0.15em #d3d3d3;
}

button {
  width: 100px;
  margin: 1.5em;
  padding: 0.25em;
  align-self: center;
  cursor: pointer;
  background-color:#a4be80;
}

figure img {
  width: 300px;
}
#form-button{
  height:70px;
  width:200px;
  border:solid 4px;
  border-color:#304c29;
  box-shadow: 0.25em 0.25em 0.5em #3d3d3d,
  -0.05em -0.05em 0.15em #d3d3d3;
  border-radius: 10px;
  font-size: large;
}
#map-toggle{
  height:50px;
  width:200px;
  border:solid 4px;
  border-color:#304c29;
  box-shadow: 0.25em 0.25em 0.5em #3d3d3d,
  -0.05em -0.05em 0.15em #d3d3d3;
  border-radius: 10px;
  font-size: large;
  margin-top:5px;

}

#title-form, #cache-title, #description-title{
  color:#304c29;
}
#figure-detail{
  text-align: center;
  
}
#lat-lon, #description{
  color:#b2483b;
}
.cache-detail{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#detail-page-img, #item-image{
  box-shadow: 0.25em 0.25em 0.5em #3d3d3d,
  -0.05em -0.05em 0.15em #d3d3d3;
}
#logo-img{
  height:70px;
  width: 70px;
  margin-top:10px;
}
#main-header{
  display: flex;
  align-items: center;
  justify-content: center;
}