 
* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

}

form {
  width: 300px;
  display: flex;
  flex-direction: column;
  box-shadow: 0.25em 0.25em 0.5em #3d3d3d,
              -0.05em -0.05em 0.15em #d3d3d3;
  margin: 3em 0;
  text-align: center;
  border-radius: 10px;
  
}

form#auth-form, #create-form {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  border:solid 4px;
  border-color:#304c29;
  
}

#auth-form{
  height:390px;
}

form div {
  display: flex;
  justify-content: space-around;
  text-align: center;
  background: rgb(231, 231, 231);
  margin: 0 0 0.5em;
}

form div span {
  width: 100%;
  padding: 0.5em;
  cursor: pointer;
}

form div span.active {
  background: #a4be80;
  cursor: initial;
}

form label {
  width: 200px;
  display: flex;
  flex-direction: column;
  margin: 0.5em;
  align-self: center;
}

form input {
  margin: 0.25em 0;
  height:50px;
  border:solid 2px;
  border-color:#304c29;
  box-shadow: 0.25em 0.25em 0.5em #3d3d3d,
  -0.05em -0.05em 0.15em #d3d3d3;
}

button {
  width: 100px;
  margin: 1.5em;
  padding: 0.25em;
  align-self: center;
  cursor: pointer;
  background-color:#a4be80;
}

figure img {
  width: 300px;
}

#form-button{
  height:70px;
  width:200px;
  border:solid 4px;
  border-color:#304c29;
  box-shadow: 0.25em 0.25em 0.5em #3d3d3d,
  -0.05em -0.05em 0.15em #d3d3d3;
  border-radius: 10px;
  font-size: large;
}

#map-toggle{
  height:50px;
  width:200px;
  border:solid 4px;
  border-color:#304c29;
  box-shadow: 0.25em 0.25em 0.5em #3d3d3d,
  -0.05em -0.05em 0.15em #d3d3d3;
  border-radius: 10px;
  font-size: large;
  margin-top:5px;
}

#title-form, #cache-title, #description-title, #about-title{
  color:#304c29;
}

#figure-detail{
  text-align: center; 
}

#lat-lon, #description{
  color:#b2483b;
}

.cache-detail{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#detail-page-img, #item-image, #profile-image{
  box-shadow: 0.25em 0.25em 0.5em #3d3d3d,
  -0.05em -0.05em 0.15em #d3d3d3;
  border-radius: 5px;
}

#logo-img{
  height:70px;
  width: 70px;
  margin-top:10px;
}

#main-header{
  display: flex;
  align-items: center;
  justify-content: center;
  
}

#about-figure{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

#about-description, #description{
  border:solid 2px;
  border-color:#304c29;
  box-shadow: 0.25em 0.25em 0.5em #3d3d3d,
  -0.05em -0.05em 0.15em #d3d3d3;
  text-align: center;
  width: 300px;
  border-radius:5px;
  padding: 10px;
}

#create-form{
  margin-top:25%;
  height:450px;
}

.button-section{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.nav-button{
  height:50px;
  width: 300px;
  align-items: center;
  margin:5px;
  margin-right:30px;
  border-radius:5px;
  border:solid 2px;
  font-size: larger;
  border-color:#304c29;
  box-shadow: 0.25em 0.25em 0.5em #3d3d3d,
  -0.05em -0.05em 0.15em #d3d3d3;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}
 
.bm-burger-bars {
  background: #373a47;
}
 

.bm-burger-bars-hover {
  background: #304c29;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}
 
.bm-cross {
  background: #bdc3c7;
}

.bm-menu-wrap {

  position: fixed;
  height: 100%;
}
 
.bm-menu {
  display: flex;
  justify-content: center;
  align-items: left;
  background: #304c29;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}
 
.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}
 
.bm-item {
  display: inline-block;
}
 
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.map {
  height: 300px;
}
 
@media screen and (min-width: 1024px){
    .map {
        height: 500px;
        width: 300px;
    }
}